<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>        
        <add 
        id="Certification_Frontend::frontend" 
        title="Frontend Developer" 
        module="Certification_Frontend"
        sortOrder="20" 
        action="frontend/questions/index"
        resource="Certification_Frontend::frontend"
        parent="Certification_Core::core"/>
    </menu>
</config>