<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add 
         id="Certification_Core::core" 
         title="Certification"
         module="Certification_Core" 
         sortOrder="100" 
         resource="Certification_Core::core"/> 
    </menu>
</config>